.form-container{
    width: 30%;
    margin: auto;
    background: rgb(84, 1, 84);
    padding: 20px;
    margin-top: 5px;
}

.form-heading{
    color: white;
    text-align: center;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    color: white;
}

.label{
    font-weight: bold;
    margin-bottom: 5px;
}

.spin{
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.btn-container{
    width: 20%;
    margin: auto;
}
button{
    border: none;
    background-color: white;
    color: rgb(84, 1, 84);
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    width: 100px;
    margin: auto;
}

.chngepass-text{
    text-align: center;
    color: white;
}

.account, .login-link{
    color: white;
    text-align: center;
}

.form-error{
    color: white;
    background-color: rgb(218, 0, 0);
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}